.footer {
  box-sizing: border-box;
  padding: 64px 0 32px;
  background-color: $blackBg;

  @include for-tablet {
    padding: 24px 0 32px;
  }

  @include for-bigPhone {
    padding: 24px 0;
  }

  &-container {
  }

  &-row {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;

    .footer-col {
      width: auto;
      &:first-child {
        box-sizing: border-box;
        width: 31.4%;
        padding-right: 7.2%;
      }
    }

    &:first-child {
      padding-bottom: 56px;
      border-bottom: 1px solid $borderBlack;

      @include for-tablet {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 0;
        border-bottom: 0;

        .footer-col:first-child {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding-bottom: 42px;

          @include for-bigPhone {
            padding-right: 0;
          }

          .footer-desc {
            display: none;
          }

          .footer-logo-link {
            margin-bottom: 0;
            margin-right: 32px;
          }

          .footer-heading {
            margin-bottom: 0;
          }
        }
      }

      .footer-col:not(:first-child) {
        max-width: 201px;
        margin-right: auto;

        @include for-tablet {
          margin-right: 0;
          width: 201px;
        }

        @include for-bigPhone {
          &:not(:last-child) {
            display: none;
          }
        }

        &:last-child {
          margin-right: 0;

          @include for-tablet {
            max-width: none;
            width: 100%;

            .footer-menu-heading {
              display: none;
            }

            .footer-address {
              display: flex;
              justify-content: space-between;
              align-items: stretch;
              width: 100%;
              padding: 32px 0;
              margin-top: 32px;
              border-top: 1px solid $borderBlack;
              border-bottom: 1px solid $borderBlack;

              @include for-bigPhone {
                display: block;
                padding: 0;
                margin-top: 0;
                border: none;

                div + div,
                span + div {
                  margin-top: 24px;
                }
              }

              &-item {
                width: 201px;

                &.footer-address-phone {
                  margin-top: 0;
                }
                &.footer-address-mail {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }

    &:last-child {
      padding-top: 24px;

      @include for-bigPhone {
        flex-wrap: wrap;
        padding-top: 32px;
      }

      .footer-col:first-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include for-bigPhone {
          width: 100%;
          max-width: none;
          padding: 16px 0;
          border-bottom: 1px solid $mobileBorder;
          border-top: 1px solid $mobileBorder;
        }
      }

      .footer-col {
        @include for-tablet {
          width: 100%;
          max-width: 201px;
          margin-right: auto;

          &:nth-child(3) {
            max-width: 208px;
            margin-right: 0;
            margin-left: 0;
          }
        }
      }
    }
  }

  &-menu {
    &-heading {
      display: block;
      margin-bottom: 30px;
      font-weight: $medium;
      line-height: 150%;
      color: $whiteMain;
    }

    &-item {
      & + & {
        margin-top: 15px;
      }
    }
    &-link {
      display: block;
      font-size: $smallSize;
      line-height: 150%;
      color: $textGray3;
      text-decoration: none;

      &:hover {
        color: $whiteMain;
      }
    }
  }

  &-address {
    &-item {
      display: block;
      font-size: 15px;
      line-height: 135%;
      color: $whiteMain;
      text-decoration: none;

      &--gray {
        color: $textGray3;
      }

      &:last-child {
        margin-top: 8px;
      }
    }

    &-phone {
      margin-top: 30px;
    }

    &-mail {
      margin-top: 8px;
      margin-bottom: 30px;

      &:hover {
        color: $mailBlue;
      }
    }
  }

  &-logo-link {
    display: block;
    margin-bottom: 24px;
  }

  &-heading {
    display: block;
    margin-bottom: 24px;
    font-weight: $medium;
    line-height: 135%;
    color: $whiteMain;
  }

  &-desc {
    display: block;
    font-weight: $normal;
    font-size: $smallSize;
    line-height: 150%;
    color: $textGray3;
  }

  &-copy {
    display: block;

    & + & {
      margin-left: 48px;

      @include for-tablet {
        margin-left: 24px;
      }

      @include for-bigPhone {
        margin-right: 39px;
      }
    }

    &:first-child {
      max-width: 151px;

      @include for-tablet {
        max-width: 97px;
      }

      @include for-bigPhone {
        max-width: 122px;
      }
    }

    &:last-child {
      max-width: 58px;

      @include for-tablet {
        max-width: 38px;
      }

      @include for-bigPhone {
        max-width: 47px;
      }
    }
  }

  &-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include for-bigPhone {
      order: -1;
      margin-bottom: 32px;
    }

    &-item {
      & + & {
        margin-left: 20px;
      }
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .footer-social-svg {
          path {
            fill: $whiteMain;
          }
        }
      }
    }
  }

  &-politics-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: $normal;
    font-size: $smallSize;
    line-height: 135%;
    color: $textGray3;
    text-decoration: none;

    &--mobile {
      display: none;
    }

    @include for-tablet {
      display: block;
      margin-right: 0;

      &--mobile {
        display: block;
        text-align: right;
      }
    }

    @include for-bigPhone {
      color: transparent;

      &--mobile {
        margin-top: 7px;
        text-align: left;
        color: $textGray3;
      }
    }

    &:hover {
      color: $whiteMain;
    }
  }

  &-copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;

    @include for-tablet {
      display: none;
    }

    &-title {
      display: block;
      margin-right: 30px;
      font-weight: $normal;
      font-size: $textGray3;
      line-height: 135%;
      color: $textGray3;
    }

    &-link {
      max-width: 104px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      &-img {
        display: block;
        width: 100%;
      }
    }
  }
}
