body {
  font-family: $mainFonts, sans-serif;
  font-size: $mainSize;
  font-weight: $normal;
  font-style: normal;
  color: $blackMain;
  background-color: $whiteMain;
}

.container {
  position: relative;
  overflow: hidden;
  display: block;
  width: calc(100% - 80px);
  max-width: 1240px;
  margin: 0 auto;
}

.main {
  min-height: 50vh;
}

.section-title {
  display: block;
  font-weight: $medium;
  font-size: $headingSize;
  line-height: 135%;
  /* or 41px */
  text-align: center;
  color: $blackMain;
}
