.header {
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
  display: block;
  min-height: 132px;
  background-color: $whiteMain;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

  @include for-tablet {
    overflow: visible;
    min-height: 116px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 62px;
    right: 0;
    display: block;
    height: 1px;
    width: calc((100vw - 1240px) / 2 + 1200px);
    background-color: $borderGray;

    @media (max-width: 1530px) {
      width: calc((100vw - 1240px) / 2 + 1077px);
    }

    @media (max-width: 1340px) {
      width: calc(100vw - 40px - 145px - 10px);
    }

    @include for-tablet {
      top: 61px;
      width: 100%;
    }
  }

  .container {
    position: relative;
  }

  &-content {
    position: relative;
    box-sizing: border-box;
    width: 100%;

    @include for-xl {
      padding-left: 145px;
    }

    @include for-tablet {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 83px;
    }

    @include for-smallPhone {
      padding-left: 72px;
    }
  }

  &-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: calc(100% - 80px);
    max-width: 1240px;
    margin: 0 auto;

    @include for-phone {
      width: calc(100% - 30px);
    }
  }

  &-row {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &:first-child {
      padding: 24px 0;

      @include for-tablet {
        position: static;
        padding: 14px 0;

        .header-col:nth-child(2) {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          box-sizing: border-box;
          justify-content: flex-start;
          align-items: center;
          width: auto;
          min-height: 64px;
          padding: 14px 0;

          @include for-phone {
            top: auto;

            .header-phone {
              overflow: hidden;
              height: 25px;
              width: 25px;
              color: transparent;
              background: center / auto url(../img/phone.svg) no-repeat;
            }
          }
        }
      }

      .header-col:nth-child(3) {
        margin-right: auto;

        @include for-tablet {
          display: none;
        }
      }

      .header-col:last-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include for-tablet {
          margin-left: auto;
        }
      }
    }

    &:nth-child(2) {
      min-height: 70px;
      padding: 16px 0;

      @include for-tablet {
        min-height: 1px;
        padding: 14px 0;
      }

      .header-col:last-child {
        margin-left: auto;
        padding-left: 10px;

        @include for-tablet {
          display: none;
        }
      }

      .header-col:nth-child(2) {
        width: 100%;
        max-width: 689px;

        @include for-xl {
          max-width: 500px;
        }
      }

      @include for-tablet {
        order: -1;
      }
    }
  }

  &-logo {
    position: absolute;
    top: 0;
    left: -145px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 145px;
    background-color: $blue;
    flex-shrink: 0;

    @include for-xl {
      left: 0;
    }

    @include for-tablet {
      height: 61px;
      width: 67px;

      .header-logo-svg {
        display: block;
        width: 32px;
      }
    }
  }

  &-row:nth-child(2) {
    box-sizing: border-box;

    .header-col:first-child {
      box-sizing: border-box;
      width: 339px;
      padding: 0 41px 0 32px;
      flex-shrink: 0;

      @include for-xl {
        width: 240px;
        padding: 0 10px;
      }

      @include for-tablet {
        padding: 0;
      }

      @include for-phone {
        width: 100%;

        .header-title {
          max-width: 210px;
          font-size: $smallSize;
        }
      }
    }
  }

  &-row:nth-child(1) {
    box-sizing: border-box;

    .header-col:nth-child(2) {
      box-sizing: border-box;
      width: 339px;
      padding: 0 41px 0 32px;
      flex-shrink: 0;

      @include for-xl {
        width: 240px;
        padding: 0 10px;
      }

      @include for-tablet {
        width: auto;
        padding: 0;
      }
    }
  }

  &-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &-item {
      margin: 0 auto;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      display: block;
      font-weight: normal;
      line-height: 135%;
      color: $blackMain;
      text-decoration: none;

      &:hover {
        color: $blue;
      }

      &--active {
        color: $blue;
      }
    }
  }

  &-phone {
    display: block;
    font-weight: $medium;
    line-height: 135%;
    color: $blackMain;
    text-decoration: none;
  }

  &-order {
    display: block;
    font-weight: $medium;
    line-height: 135%;
    text-decoration: none;
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }

  &-leader {
    display: block;
    font-weight: $normal;
    line-height: 135%;
    color: $textGray2;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }

  &-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include for-phone {
      display: none;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    &--inst {
      &:hover {
        background: center / cover url(../img/inst-icon.png) no-repeat;

        .header-social-svg {
          opacity: 0;
        }
      }
    }

    &--fbook {
      &:hover {
        .header-social-svg {
          path {
            fill: $svgBlue;
          }
        }
      }
    }

    &--utube {
      &:hover {
        .header-social-svg {
          path {
            fill: $svgRed;
          }
        }
      }
    }
  }

  &-title {
    display: block;
    font-weight: $medium;
    line-height: 135%;
    text-decoration: none;
    color: $blue;

    @include for-tablet {
      font-size: $smallSize;
    }
  }

  &-language {
    display: block;
    box-sizing: border-box;
    padding: 0 24px;
    margin: 0 32px;
    line-height: 135%;
    color: $textGray2;
    text-decoration: none;
    border-left: 1px solid $borderGray;
    border-right: 1px solid $borderGray;

    @include for-phone {
      display: none;
    }

    &:hover {
      color: $blue;
    }
  }

  &-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include for-phone {
      margin-right: 64px;
    }

    &-input {
      display: block;
      box-sizing: border-box;
      height: 24px;
      width: 200px;
      max-width: 0;
      padding: 0;
      margin: 0;
      border-radius: 0;
      border: none;
      transition: 0.5s;
      transform-origin: center right;

      &--active {
        max-width: 200px;
        padding: 0 10px;
        margin-right: 20px;
        border-bottom: 1px solid $blackMain;

        @include for-phone {
          max-width: 120px;
        }
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {

        path,
        circle {
          stroke: $blackMain;
        }
      }

      &:hover {
        svg {

          path,
          circle {
            stroke: $blue;
          }
        }
      }
    }
  }
}

.big_menu {
  position: fixed;
  height: auto;
  width: 100%;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.5s;

  .container {
    @include for-phone {
      width: 100%;
    }
  }

  @include for-tablet {
    overflow: auto;
    height: calc(100vh - 116px);
  }

  &--active {
    z-index: 100;
    opacity: 1;
  }

  .category {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;

    @include for-phone-desktop {
      background: transparent;
    }

    &-bigMenu-row {
      width: 310px;
      margin-right: 9%;

      @include for-phone {
        width: 100%;
        margin-right: 0;
      }
    }

    &-item {
      width: 100%;

      &:first-child {
        padding: 0;
      }
    }

    @include for-phone-desktop {
      .category-link {
        color: $blackMain;

        &:hover {
          font-weight: $medium;

          .category-icon {
            border-color: $bigMenuGray2;

            &:before,
            &:after {
              background-color: $bigMenuGray2;
            }
          }
        }
      }
    }

    .sub_category {
      box-sizing: border-box;
      padding-left: 32px;
    }

    @include for-phone-desktop {
      .sub_category-link {
        padding-left: 12px;
        line-height: 150%;
        margin: 5px 0;
        color: $blackMain;
        border-left-width: 2px;
      }

      .category-icon {
        border-color: $bigMenuGray;

        &:before,
        &:after {
          background-color: $bigMenuGray;
        }
      }
    }
  }

  .container {
    overflow: visible;
  }

  &-wrap {
    display: none;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: stretch;
    padding: 24px 0 56px;
    background-color: $whiteMain;
    border-top: 1px solid $borderGray;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

    &--active {
      display: flex;

      @include for-tablet {
        display: block;
        padding-top: 0;
      }
    }
  }

  &-sidebar {
    box-sizing: border-box;
    width: 250px;
    border-right: 1px solid $borderGray;
    flex-shrink: 0;

    @include for-tablet {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      border-right: 0;
      border-bottom: 1px solid $borderGray;
    }

    @include for-phone {
      display: block;
      border-bottom: 0;
    }
  }

  &-link {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
    padding: 0 32px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    color: $blackMain;

    &--active {
      color: $whiteMain;
      background-color: $blue;
    }
  }

  &-content {
    display: none;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;

    &--active {
      display: flex;
    }
  }

  &-name_item {
    display: block;
    box-sizing: border-box;
    width: 33.333%;
    padding: 32px 44px 32px 24px;
    border: 1px solid $borderGray;
    border-top: 0;

    @include for-tablet {
      width: 50%;
      padding: 24px;
    }

    @include for-phone {
      width: 100%;
    }

    &+& {
      border-left: 0;
    }

    &:first-child {
      border-left: 0;
    }

    &:nth-child(n + 4) {
      border-bottom: 0;
      border-bottom: 1px solid $borderGray;
    }

    &:nth-child(3n) {
      border-right: 0;

      @include for-tablet {
        border-right: 1px solid $borderGray;
      }
    }

    &-logo {
      display: block;
      height: 56px;
      margin-bottom: 16px;
    }

    &-title {
      display: block;
      margin-bottom: 16px;
      font-weight: $medium;
    }

    &-desc {
      display: block;
      font-weight: $normal;
      font-size: $smallSize;
    }
  }
}

.burger {
  position: absolute;
  left: 17px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 30px;
  cursor: pointer;

  @include for-tablet {
    display: flex;
  }

  &-item {
    height: 3px;
    width: 30px;
    background-color: $blue;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 3px;
      width: 30px;
      background-color: $blue;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 3px;
      width: 30px;
      background-color: $blue;
    }
  }

  &--active {
    .burger-item {
      background-color: transparent;

      &:before {
        top: 50%;
        transform: rotate(45deg);
      }

      &:after {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  &--active-bigMenu {
    height: 30px;

    .burger-item {
      background-color: transparent;

      &:before {
        top: auto;
        bottom: 0;
        left: 50%;
        width: 15px;
        margin-bottom: 9px;
        margin-left: -7px;
        transform: rotate(45deg);
      }

      &:after {
        top: 0;
        left: 50%;
        width: 15px;
        margin-top: 9px;
        margin-left: -7px;
        transform: rotate(-45deg);
      }
    }
  }
}

.header-col-menu {
  @include for-tablet {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: none;
    display: none;
    z-index: 100;

    .header-menu {
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      max-width: 375px;
      background-color: $whiteMain;

      &-item {
        height: 63px;
        width: 100%;
      }

      &-link {
        position: relative;
        display: flex;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 15px;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 15px;
          display: block;
          height: 1px;
          width: calc(100% - 30px);
          background-color: $borderGray;
        }

        &--active {
          font-weight: $medium;
          line-height: 135%;
          color: $whiteMain;
          background-color: $blue;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  &--active {
    display: flex;
  }
}