.spheres {
  margin-top: 80px;

  @include for-phone {
    margin-top: 48px;
  }

  &-block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding-bottom: 80px;
    margin-top: 48px;
    margin-bottom: -20px;

    @include for-phone {
      display: block;
      padding-bottom: 64px;
      margin-top: 0;
    }
  }

  &-item {
    position: relative;
    height: 228px;
    width: calc(50% - 10px);
    margin-bottom: 20px;

    @include for-phone {
      width: 100%;
    }
  }

  &-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: calc(100% - 65px);
    padding: 22px;
    background-color: $aquasolBlue;
    font-weight: $medium;
    line-height: 150%;
    color: $whiteMain;

    @include for-phone {
      width: 100%;
      padding: 16px;
    }
  }
}

.aquasol_two-page {
  .aquasol-how_do {
    margin-top: 0;
  }

  .h-title-block {
    .container {
      padding: 130px 0 200px;

      .h-title-abs_logo {
        top: 0;
        left: 0;
      }
    }
  }
}
