.documents-page {
  .section-title {
    margin-top: 48px;

    @include for-phone {
      margin-top: 40px;
    }
  }

  .filters {
    margin: 56px 0;

    @include for-phone {
      width: 100%;
      margin: 32px 0;
    }
  }
}

.documents {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: -20px;
  padding-bottom: 120px;

  @include for-phone {
    padding-bottom: 48px;
  }

  &-item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 403px;
    width: calc(25% - 60px / 4);
    padding: 24px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: $whiteMain;

    &:nth-child(4n) {
      margin-right: 0;

      @include for-tablet {
        margin-right: 20px;
      }

      @include for-phone {
        margin-right: 0;
      }
    }

    @include for-tablet {
      min-width: 290px;
      height: auto;
    }

    @include for-phone {
      width: 100%;
      margin-right: 0;
    }
  }

  &-serf {
    display: block;
    width: 100%;
    max-width: 155px;
    margin-bottom: 16px;
  }

  &-desc {
    display: block;
    font-weight: $normal;
    font-size: $smallSize;
    line-height: 135%;
    color: $blackMain;

    @include for-tablet {
      padding-bottom: 24px;
    }
  }

  &-mark {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-top: 16px;
    margin-top: auto;
    border-top: 1px solid $borderGray;
    font-weight: $normal;
    line-height: 135%;
    color: $black;
    text-decoration: none;

    &--green {
      color: $svgGreen;
    }

    &--blue {
      color: $aquasolBlue;
    }

    &--light_green {
      color: $greenoxGreen;
    }

    &--dark_blue {
      color: $blue;
    }
  }

  &-fancy {
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
  }
}
