.h-title {
  display: block;
  margin-bottom: 40px;
  font-family: $ubuntu;
  font-weight: 500;
  font-size: $bannerPagSize1;
  line-height: 135%;
  color: $whiteMain;

  @include for-bigPhone {
    margin-bottom: 24px;
    font-size: $textHeadingSize;
  }

  &-abs_logo {
    position: absolute;
    top: 48px;
    right: 0;
    display: block;
  }

  &-wrapper {
    max-width: 625px;

    @include for-bigPhone {
      max-width: 345px;
    }
  }

  &-block {
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
      padding: 130px 0 166px;

      @include for-bigPhone {
        padding: 84px 0 255px;
      }
    }
  }

  &-desc {
    font-family: $ubuntu;
    font-weight: $normal;
    font-size: $descSize;
    line-height: 150%;
    color: $whiteMain;

    @include for-bigPhone {
      font-size: $mainSize;
    }
  }
}

.horizon-page {
  .section-title {
    text-align: left;
  }
}

.what_is {
  .section-title {
    margin-bottom: 40px;

    @include for-bigPhone {
      margin-bottom: 24px;
    }
  }

  .horizon-text {
    max-width: 723px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 48px;

    @include for-bigPhone {
      display: block;
      margin-top: 32px;
    }
  }

  &-block {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(50% - 10px);
    padding: 40px 32px 21px 19px;
    background-color: $blackBg;

    @include for-bigPhone {
      align-items: stretch;
      width: 100%;
      padding: 24px 24px 40px 20px;

      & + & {
        margin-top: 16px;
      }
    }
  }

  &-number {
    display: block;
    font-weight: $normal;
    line-height: 150%;
    color: $ell;
  }

  &-count {
    display: block;
    font-weight: $medium;
    font-size: $bannerPagSize3;
    line-height: 100%;
    color: $ell;

    @include for-bigPhone {
      font-size: $bannerPagSize5;
    }
  }

  &-desc {
    display: block;
    margin-top: 20px;
    font-weight: $normal;
    line-height: 150%;
    color: $whiteMain;

    @include for-bigPhone {
      margin-top: 15px;
    }
  }

  &-icon {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    padding-right: 22px;
    flex-shrink: 0;

    @include for-bigPhone {
      height: auto;
      width: 70px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 132px;
      width: 1px;
      background-color: $svgBorder;

      @include for-bigPhone {
        height: 100%;
      }
    }
  }

  &-svg {
    display: block;
  }

  &-texts {
    box-sizing: border-box;
    padding-left: 22px;
  }
}

.how_do {
  margin-top: 80px;

  @include for-bigPhone {
    margin-top: 48px;
  }

  .section-title {
    margin-bottom: 40px;

    @include for-bigPhone {
      margin-bottom: 24px;
    }
  }

  .horizon-text {
    max-width: 708px;

    @include for-bigPhone {
      b {
        display: block;
      }
    }
  }

  &-block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: -32px;

    @include for-bigPhone {
      display: block;
      margin-top: 32px;
      margin-bottom: 0;
    }
  }

  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(50% - 36px);
    margin-bottom: 32px;

    @include for-bigPhone {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 66px;
    margin-right: 24px;
    background-color: $ell;
    border-radius: 50%;
    flex-shrink: 0;

    @include for-bigPhone {
      height: 56px;
      width: 56px;
      margin-right: 16px;
    }
  }

  &-text {
    display: block;
    font-weight: $medium;
    line-height: 150%;
    color: $blackMain;
  }
}

.how_desc {
  box-sizing: border-box;
  display: flex;
  padding: 40px 45px 36px 48px;
  margin-top: 56px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $howDesc;

  @include for-bigPhone {
    padding: 20px 28px 32px 18px;
    margin-top: 40px;
  }

  &-texts {
    box-sizing: border-box;
    padding-left: 35px;

    @include for-bigPhone {
      padding-left: 16px;
    }
  }

  &-text {
    display: block;
    margin-bottom: 24px;
    font-weight: $medium;
    line-height: 150%;
    color: $blackMain;
  }

  &-link {
    display: block;
    font-weight: $normal;
    line-height: 150%;
    text-decoration-line: underline;
    color: $blue;

    @include for-bigPhone {
      display: none;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 61px;
    flex-shrink: 0;
  }

  & + & {
    margin-top: 24px;

    @include for-bigPhone {
      margin-top: 16px;
    }
  }
}

.app_horizon {
  margin-top: 80px;

  @include for-bigPhone {
    margin-top: 48px;
  }

  .section-title {
    margin-bottom: 48px;

    @include for-bigPhone {
      margin-bottom: 24px;
    }
  }

  &-catalog {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: -20px;

    @include for-bigPhone {
      display: block;
      margin-bottom: 0;
    }
  }

  &-item {
    display: block;
    width: calc(33.333333% - 40px / 3);
    margin-bottom: 20px;
    margin-right: 20px;

    @include for-bigPhone {
      width: 100%;
      margin-bottom: 16px;

      &--active {
        display: none;
      }
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &-img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
    font-weight: $medium;
    line-height: 135%;
    color: $whiteMain;

    @include for-bigPhone {
      -webkit-line-clamp: 1;
    }

    &_wrapper {
      box-sizing: border-box;
      height: 62px;
      width: 100%;
      padding: 12px 16px 16px;
      background-color: $ell;

      @include for-bigPhone {
        height: 47px;
      }
    }
  }
}

.features {
  margin-top: 80px;

  @include for-bigPhone {
    margin-top: 48px;
  }

  .section-title {
    margin-bottom: 48px;

    @include for-bigPhone {
      margin-bottom: 24px;
    }
  }

  &-block {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 40px;
    background-color: $bgGray;

    @include for-bigPhone {
      padding: 16px;
      justify-content: flex-start;
    }
  }

  &-item {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: calc(33.333333% + 26px);
    padding: 40px;
    border-right: 1px solid $borderBlueHor;
    border-bottom: 1px solid $borderBlueHor;

    @include for-bigPhone {
      width: 50%;
      padding: 16px;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
      display: block;
      height: 20px;
      width: 20px;
      margin-right: -11px;
      margin-bottom: -11px;
      background: center / auto url(../img/plus.svg) no-repeat;
    }

    &:nth-child(3n) {
      width: calc(33.333333% - 14px);
      border-right: 0;

      @include for-bigPhone {
        width: 50%;
        padding-right: 16px;
        border-right: 1px solid $borderBlueHor;
      }
    }

    &:nth-child(n + 7) {
      border-bottom: 0;

      &:after {
        display: none;
      }
    }

    &:nth-child(3n - 2) {
      width: calc(33.333333% - 14px);
      padding-left: 0;

      @include for-bigPhone {
        width: 50%;
      }
    }

    &:nth-child(3n) {
      padding-right: 0;

      &:after {
        display: none;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-top: 0;
    }

    &:nth-child(9),
    &:nth-child(8),
    &:nth-child(7) {
      padding-bottom: 0;
    }

    @include for-bigPhone {
      &:nth-child(3) {
        padding-top: 16px;
      }

      &:nth-child(7),
      &:nth-child(8) {
        padding-bottom: 16px;
        border-bottom: 1px solid $borderBlueHor;
      }

      &:nth-child(2n) {
        padding-left: 16px;
        padding-right: 0;
        border-right: 0;

        &::after {
          display: none;
        }
      }

      &:nth-child(2n + 1) {
        padding-left: 0;
        padding-right: 16px;
        border-left: 0;

        &::after {
          display: block;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  &-count {
    display: block;
    margin-bottom: 10px;
    font-weight: $normal;
    font-size: $bannerPagSize3;
    line-height: 125%;
    color: $ell;

    @include for-bigPhone {
      font-size: $bannerPagSize5;
    }
  }

  &-desc {
    display: block;
    font-weight: $normal;
    font-size: $horSize;
    line-height: 150%;
    color: $horDesc;

    @include for-bigPhone {
      font-size: $smallSize;
    }
  }
}

.reports {
  margin-top: 80px;

  @include for-bigPhone {
    margin-top: 48px;
  }

  &-slider {
    margin: 0 -10px;
  }

  .section-title {
    margin-bottom: 48px;

    @include for-bigPhone {
      margin-bottom: 24px;
    }
  }

  &-item {
    position: relative;
    height: 190px;
    margin: 0 10px;

    @include for-bigPhone {
      height: 168px;
    }
  }

  &-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-video {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
  }

  &-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &--hidden {
      display: none;
    }
  }

  &-play {
    position: absolute;
    z-index: 3;
    display: block;
    height: 58px;
    width: 58px;
    cursor: pointer;
  }

  &-tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
  }

  &-pag {
    display: block;
    margin-right: 64px;
    font-weight: $normal;
    line-height: 150%;
    color: $textGray2;
  }

  &-arrows {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-arrow {
    display: block;
    text-decoration: none;
    cursor: pointer;

    & + & {
      margin-left: 24px;
    }

    &:hover {
      .reports-arrow-svg {
        path {
          fill: $blue;
        }
      }
    }
  }
}

.reviews-horizon {
  margin-top: 80px;

  .reports-tools {
    display: none;

    @include for-bigPhone {
      display: flex;
    }
  }

  @include for-bigPhone {
    margin-top: 48px;
  }

  .section-title {
    margin-bottom: 48px;

    @include for-bigPhone {
      margin-bottom: 24px;
    }
  }

  &-block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: -20px;
  }

  .reviews-slider-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: calc(50% - 10px);
    padding: 32px 40px 40px;
    margin-bottom: 20px;
    border: 1px solid $borderGray;

    @include for-bigPhone {
      padding: 24px;
    }

    .reviews-link {
      color: $ell;
    }

    .reviews-quotes {
      path {
        fill: $ell;
      }
    }

    .reviews-image {
      margin-left: 32px;
    }
  }
}

.form {
  &_wrapper {
    margin-top: 80px;

    @include for-bigPhone {
      margin-top: 48px;
    }

    .section-title {
      margin-bottom: 40px;

      @include for-bigPhone {
        margin-bottom: 24px;
      }
    }
  }

  &-desc {
    display: block;
    font-weight: $normal;
    line-height: 150%;
    color: $blackMain;
  }
}

.horizon-page {
  .form {
    &-label {
      &:first-child,
      &:nth-child(3) {
        width: 33.6%;

        @include for-fablet {
          width: 100%;
        }
      }

      &:nth-child(2) {
        width: calc(66.4% - 32px);

        @include for-fablet {
          width: 100%;
        }
      }

      &:nth-child(4) {
        width: 20%;

        @include for-fablet {
          width: 100%;
        }
      }

      &:nth-child(5) {
        width: calc(46.4% - 64px);

        @include for-fablet {
          width: 100%;
        }
      }
    }
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 88px;
  margin-top: 56px;

  @include for-fablet {
    padding-bottom: 0;
    margin-top: 40px;
  }

  &-item {
    width: calc(25% - 50px);
    margin-right: 50px;
    margin-bottom: 32px;

    @include for-fablet {
      width: calc(50% - 24px);
      margin-right: 48px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  &-link {
    display: block;
    margin-bottom: 6px;
    font-weight: $medium;
    font-size: $descSize;
    line-height: 135%;
    text-decoration: none;
    color: $blackMain;

    @include for-fablet {
      font-size: $horSize;
    }
  }

  &-desc {
    display: block;
    font-weight: $normal;
    font-size: $smallSize;
    line-height: 150%;
    color: $textGray2;

    @include for-fablet {
      font-size: $extraSmallSize2;
    }
  }
}
